.flexContainer {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  padding-top: 2%;
}

.listContainer {
  border: 1px solid gray;
  width: 30%;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
